<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">

	<display-name>servlet</display-name>

	<welcome-file-list>
		<welcome-file>main.do</welcome-file>
	</welcome-file-list>

	<!-- Init 먼저 실행 -->
	<servlet>
		<description>서버 시작 시 DB 불러주기, 객체 생성 / 저장 / 조립</description>
		<servlet-name>init</servlet-name>
		<servlet-class>com.solomate.main.controller.Init</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- DispatcherServlet 나중 실행 -->
	<servlet>
		<servlet-name>dispatchServlet</servlet-name>
		<servlet-class>com.solomate.main.controller.DispatcherServlet</servlet-class>
		<load-on-startup>2</load-on-startup>

		<multipart-config>
			<location>C:/Temp</location>
			<max-file-size>10485760</max-file-size>
			<max-request-size>104857600</max-request-size>
			<file-size-threshold>1048576</file-size-threshold>
		</multipart-config>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatchServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>authority</filter-name>
		<filter-class>com.solomate.util.filter.AuthorityFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>authority</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/error/noJsp.jsp</location>
	</error-page>
</web-app>